{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard. If not, see
<http: //www.gnu.org/licenses />.
}}

{{#content "title"}}
URL を編集
{{/content}}

{{#edited}}
<div class="col-md-12 clearfix" data-test="alert">
	<div class="alert alert-success">
		<button aria-hidden="true" data-dismiss="alert" class="閉じる" type="button">×</button>
		<strong>編集完了！</strong>
		<p>変更が保存されました。</p>
	</div>
</div>
{{/edited}}

<form class="col-md-12" action="/{{task.id}}/edit" method="post" data-test="edit-url-form">

	<div class="legend">
		<h1 class="h2 crunch-top">URL を編集</h1>
	</div>

	{{#error}}
	<div class="col-md-12 clearfix" data-test="error">
		<div class="row">
			<div class="alert alert-danger">
				<strong>マジかよ！</strong>
				<p>{{.}}</p>
			</div>
		</div>
	</div>
	{{/error}}

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-10">
				<label class="control-label" for="new-task-name">ダッシュボードで表示される名前</label>
				<input class="form-control" id="new-task-name" type="text" required placeholder="E.g. My Home Page"
					name="name" value="{{task.name}}" />
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-10">
				<label class="control-label" for="new-task-url">URL （<code>http(s)://</code> から入力します）</label>
				<input class="form-control" id="new-task-url" type="url" required pattern="https?:\/\/.+"
					placeholder="E.g. https://example.com/" name="url" value="{{task.url}}" disabled />
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-standard">対象規格と適合レベル</label>
				<select data-role="new-task-select" class="form-control" id="new-task-standard" name="standard"
					disabled>
					{{#standards}}
					<option {{#selected}}selected{{/selected}}>{{title}}</option>
					{{/standards}}
				</select>
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-timeout">タイムアウト （ミリ秒）</label>
				<input class="form-control" id="new-task-timeout" type="text" placeholder="E.g. 30000" name="timeout"
					value="{{task.timeout}}" />
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-wait">待機時間 （ミリ秒）</label>
				<input class="form-control" id="new-task-wait" type="text" placeholder="E.g. 3000" name="wait"
					aria-describedby="detail-task-wait" value="{{task.wait}}" />
				<p id="detail-task-wait">（デフォルト値は 0ms です）</p>
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-actions">
					アクション
					（1つのアクションにつき1行で入力します）
				</label>
				<textarea class="form-control" id="new-task-actions" name="actions"
					aria-describedby="detail-task-actions"
					placeholder="E.g. Click element #login-button">{{task.actions}}</textarea>
				<p id="detail-task-actions">
					（<a href="https://github.com/pa11y/pa11y#actions" target="_blank" rel="noopener">
						アクションの詳細は Pa11y のドキュメントで確認できます
					</a>）
				</p>
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-username">ユーザー名（認証が必要な場合）</label>
				<input class="form-control" id="new-task-username" type="text" name="username"
					value="{{task.username}}" />
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-password">パスワード（認証が必要な場合）</label>
				<input class="form-control" id="new-task-password" type="text" name="password"
					aria-describedby="detail-task-password" value="{{task.password}}" />
				<p id="detail-task-password">（パスワードはプレーンテキストで保存されるため使用時には注意してください）</p>
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-headers">HTTP ヘッダ</label>
				<textarea class="form-control" id="new-task-headers" name="headers"
					aria-describedby="detail-task-headers" placeholder="Cookie: foo=bar">{{task.headers}}</textarea>
				<p id="detail-task-headers">（<code>Cookie: name=value</code> のような形式で送信したい HTTP ヘッダを記述します）</p>
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<label class="control-label" for="new-task-hide-elements">試験時に隠す要素</label>
				<input class="form-control" id="new-task-hide-elements" type="text" name="hideElements"
					aria-describedby="detail-task-hide-elements" value="{{task.hideElements}}"
					placeholder=".advert, #modal, div[aria-role=presentation]" />
				<p id="detail-task-hide-elements">（CSS セレクタで記述します）</p>
			</div>
		</div>
	</div>

	<p class="control-label" id="label-ignore-rules">無効にする試験項目</p>

	<div class="standards-lists">
		{{#standards}}
		<div data-role="standards-list" data-attr="{{title}}" class="form-group">
			<p class="control-label rules-list-title ruled"><b>{{title}} ルール</b></p>
			<ul class="list-unstyled" aria-labelledby="label-ignore-rules">
				{{#rules}}
				<li>
					<input class="pull-left" id="{{name}}" type="checkbox" name="ignore[]" value="{{name}}"
						{{#ignored}}checked{{/ignored}} />
					<label for="{{name}}" title="{{description}}" data-role="rule-tooltip" class="checkbox">
						{{name}}
					</label>
				</li>
				{{/rules}}
			</ul>
		</div>
		{{/standards}}
	</div>

	<button type="submit" class="btn btn-success">変更を保存 <span class="glyphicon glyphicon-save"></span></button>
	<a href="/{{task.id}}/edit" class="btn btn-primary">変更を破棄して編集をやり直す <span
			class="glyphicon glyphicon-refresh"></span></a>

</form>