{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard. If not, see
<http: //www.gnu.org/licenses />.
}}

{{#content "title"}}
{{task.name}} - {{simplify-url task.url}} ({{task.standard}})
{{/content}}

{{#added}}
<div class="col-md-12 clearfix" data-test="alert">
	<div class="alert alert-success">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<strong>おめでとうございます！</strong>
		<p>新しい URL が追加されました。</p>
	</div>
</div>
{{/added}}

{{#running}}
<div class="col-md-12 clearfix" data-test="alert">
	<div class="alert alert-success">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<strong>新しい試験結果がもうすぐ生成されます！</strong>
		<p>この URL に対する新しい試験結果がバックグラウンドで生成されています。</p>
		<p>試験結果の生成が完了するまでに1分ほどかかることがあります。</p>
	</div>
</div>
{{/running}}

{{#ruleIgnored}}
<div class="col-md-12 clearfix" data-test="alert">
	<div class="alert alert-success">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<strong>試験項目を無効にしました！</strong>
		<p>この URL に対して、選択した試験項目を無効にしました。</p>
		<p><a href="{{task.hrefRun}}">無効にした試験項目を除外した上で新たな試験結果を生成するにはここをクリックしてください。</a></p>
	</div>
</div>
{{/ruleIgnored}}

{{#ruleUnignored}}
<div class="col-md-12 clearfix" data-test="alert">
	<div class="alert alert-success">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<strong>試験項目を有効にしました！</strong>
		<p>この URL に対して、選択した試験項目を有効にしました。</p>
		<p><a href="{{task.hrefRun}}">有効にした試験項目を反映した上で新たな試験結果を生成するにはここをクリックしてください。</a></p>
	</div>
</div>
{{/ruleUnignored}}

{{> task-header}}

{{#if results}}

{{#unless hasOneResult}}
{{> graph}}
{{/unless}}

{{/if}}

{{#if mainResult}}
{{> result}}
{{else}}
<div class="col-md-12" data-test="alert">
	<div class="alert alert-info">
		<h4>表示できる試験結果がありません</h4>
		<p>Pa11y はこの URL に対してまだ実行されていないので、表示する試験結果はありません。</p>
		<p><a href="{{task.hrefRun}}">この URL の試験結果を表示するにはここをクリックしてください。</a></p>
	</div>
</div>
{{/if}}