{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard. If not, see
<http: //www.gnu.org/licenses />.
}}
<div class="col-md-8">
	<h1>うーん…… お探しのページが見つかりません（HTTP 404 エラー）。</h1>
	<p class="h2">もしかすると入力した URL や、クリックしたリンクが間違っていた可能性があります。</p>
	<p class="h3">
		もし登録した URL に対して最初の試験を実行した際にこのエラーが出た場合、試験レポート作成が失敗している可能性があります。
		ログなどから Puppeteer が正常に動作しているか確認してみてください。
	</p>
	<p class="h4">もう一度試すには<a href="/">ダッシュボードに戻って</a>やり直してみてください。</p>
</div>
<div class="col-md-4">
	<div class="well well-lg">
		<p class="h2 text-center">アクセシビリティ 採点結果</p>
		<p class="supersize-me">0</p>
	</div>
</div>