{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard. If not, see
<http: //www.gnu.org/licenses />.
}}
<div class="col-md-8">
	<h1>ワーッ！ HTTP 500 エラーです。</h1>
	<p class="h2">落ち着いて！ 下記を確認してみましょう。</h2>
	<ul>
		<li><a href="https://www.mongodb.com/" target="_blank" rel="noopener">MongoDB</a> がインストールされていて、かつ
			<code>mongod</code> が起動していますか？
		</li>
		<li><a href="https://github.com/pa11y/dashboard/blob/master/README.md#troubleshooting" target="_blank"
				rel="noopener">トラブルシューティング</a>のページで詳しい情報を確認してみましょう。
		</li>
		<li><a href="https://github.com/pa11y/dashboard/issues" target="_blank" rel="noopener">Github Issue</a>
			を検索してみるか、解決しない場合は Github Issue を立ててコミュニティに相談してみてください。</li>
	</ul>
	{{#if error}}
	<h2>スタックトレース</h2>
	<pre>{{error.stack}}</pre>
	{{/if}}
</div>
<div class="col-md-4">
	<div class="well well-lg">
		<p class="h2 text-center">サーバエラー数</p>
		<p class="supersize-me">たくさん</p>
	</div>
</div>